@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
/* Logo */
header {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  position: relative;
}
header .logo {
  font-size: 32px;
  font-family: "Shrikhand", Arial, sans-serif;
  text-align: center;
}

/* Mixin */
/* Explore */
.container_description {
  flex-direction: column;
  flex-wrap: wrap;
  background-color: rgb(247, 247, 247);
  padding: 40px 0px;
}
.container_description .btn_explore {
  border-radius: 40px;
  padding: 20px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 18px 17px 13px -16px rgb(193, 201, 198);
}
.container_description .btn_explore:hover {
  transform: scale(1.02);
}

/* Variables */
/* Footer */
footer {
  background-color: rgb(53, 53, 53);
  color: white;
  padding: 25px;
  line-height: 2;
}
footer .logo_footer {
  font-family: "Shrikhand", Arial, sans-serif;
  margin-bottom: 15px;
  font-size: 22px;
}
footer .footer_nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}
footer .footer_nav .icon_footer {
  width: 35px;
}
footer .footer_nav .text_footer {
  justify-content: flex-start;
}

a {
  color: white;
}

/* Function */
.container_functioning {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.container_functioning .container_function_card .fonction_card {
  position: relative;
  margin: 20px;
  padding: 25px 0px;
  background-color: rgb(247, 247, 247);
  width: auto;
  border-radius: 20px;
  box-shadow: 18px 17px 13px -16px rgb(193, 201, 198);
}
.container_functioning .container_function_card .fonction_card:hover {
  transform: scale(1.02);
  background-color: rgb(245, 237, 254);
}
.container_functioning .container_function_card .fonction_card:hover i::before {
  color: purple;
}
.container_functioning .container_function_card .fonction_card .icon_number {
  position: absolute;
  left: -0.8em;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5px;
  width: 1rem;
  height: 1rem;
  text-align: center;
  vertical-align: middle;
  background-color: #9356DC;
  color: white;
}
.container_functioning .container_function_card .fonction_card .icon_btn_function {
  position: absolute;
  left: 30px;
}
.container_functioning .container_function_card .fonction_card .btn_title {
  padding-left: 60px;
}

@media only screen and (min-width: 860px) {
  .container_function_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .container_function_card .fonction_card {
    flex: 1 1 auto;
  }
}
/* Location */
.container_location {
  background-color: rgb(234, 234, 234);
}
.container_location .location_icon {
  height: auto;
  width: auto;
  padding-right: 15px;
}
.container_location .location_name {
  font-size: 16px;
}

/* Restaurant */
.container_restaurant {
  background-color: rgb(247, 247, 247);
  padding: 20px;
}
.container_restaurant h1 {
  margin-bottom: 20px;
}
.container_restaurant .container_restaurant_cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 1000px) {
  .container_restaurant .container_restaurant_cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
.container_restaurant .container_restaurant_cards .restaurant_card {
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;
  overflow: hidden;
}
.container_restaurant .container_restaurant_cards .restaurant_card .restaurant_info {
  position: relative;
  margin: 15px;
}
.container_restaurant .container_restaurant_cards .restaurant_card .restaurant_info .restaurant_description .restaurant_name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 5px;
}
.container_restaurant .container_restaurant_cards .restaurant_card .restaurant_info .fa-heart {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.33em;
  color: black;
}
.container_restaurant .container_restaurant_cards .restaurant_card .restaurant_info .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease;
  cursor: pointer;
}
.container_restaurant .container_restaurant_cards .restaurant_card .restaurant_info:hover .fa-solid {
  opacity: 1;
}

.container_restaurant_cards a {
  color: black;
}

img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.new {
  position: relative;
}
.new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 5rem;
  background-color: #99E2D0;
  color: #1b6150;
  right: 1rem;
  top: 1rem;
  display: grid;
  place-items: center;
}

@media only screen and (min-width: 860px) {
  .container_restaurant_cards {
    display: flex;
    flex-direction: row;
  }
  .container_restaurant_cards .restaurant_card {
    flex: 1;
    margin: 0px 5px;
  }
}
@keyframes loading_menu_card {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.website_loader {
  position: fixed;
  background-color: white;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 3s forwards;
  animation-delay: 5s;
}
.website_loader::after {
  content: "Ohmyfood loading ...";
  color: rgba(0, 0, 0, 0);
  font-weight: bold;
  font-family: monospace;
  background: linear-gradient(90deg, purple calc(50% + 0.5ch), pink 0) right/calc(200% + 1ch) 100%;
  font-size: 30px;
  -webkit-background-clip: text;
  background-clip: text;
  animation: c7 5s infinite steps(21);
}

@keyframes c7 {
  to {
    background-position: left;
  }
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
html,
body {
  margin-right: 0;
  padding-right: 0;
}

#main-container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  align-items: center;
}

* {
  font-family: "Shrikhand";
}

header {
  width: 100%;
}

.fa-arrow-left-long {
  position: absolute;
  padding-left: 20px;
  left: 0px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
  color: black;
}

.font_img_restaurant {
  width: 100%;
  height: 600px;
}

.restaurant_menu_title {
  width: 90%;
  margin-top: -4rem;
  border-radius: 30px 30px 0 0;
  padding: 0px 20px;
  background-color: rgb(247, 247, 247);
}
.restaurant_menu_title .restaurant_name {
  position: relative;
}
.restaurant_menu_title .restaurant_name .fa-heart {
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.33em;
  color: black;
}
.restaurant_menu_title .restaurant_name .fa-solid {
  color: transparent;
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 500ms ease;
  cursor: pointer;
}
.restaurant_menu_title .restaurant_name:hover .fa-solid {
  opacity: 1;
}
.restaurant_menu_title .restaurant_name p {
  font-family: "Shrikhand", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  position: relative;
}
.restaurant_menu_title .restaurant_name .menu-board {
  display: flex;
  flex-direction: column;
}
.restaurant_menu_title .menu_restaurant {
  display: flex;
  flex-direction: row;
}
.restaurant_menu_title .menu_restaurant .menu {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant_menu_title .menu_restaurant .menu p {
  margin: 5px 0px;
  margin-right: 20px;
  position: relative;
  padding-bottom: 25px;
}
.restaurant_menu_title .menu_restaurant .menu p::after {
  position: absolute;
  top: 1.4rem;
  left: 0px;
  content: "";
  width: 38px;
  padding: 1.5px;
  background-color: rgb(155, 225, 208);
}
.restaurant_menu_title .menu_restaurant .menu .menu-card {
  display: flex;
  flex-direction: row;
  margin: 5px 20px 15px 0px;
  border-radius: 10px;
  background-color: white;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  animation: loading_menu_card 1s;
  animation-fill-mode: both;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:nth-child(2) {
  animation-delay: 200ms;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:nth-child(3) {
  animation-delay: 300ms;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:nth-child(4) {
  animation-delay: 400ms;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:hover {
  cursor: pointer;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .dish-title {
  justify-content: center;
  flex: 1;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .dish-title .dish {
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .dish-title .dish-description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .dish-price {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  font-weight: bold;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .tickmark {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  margin-right: -50px;
  transition: margin 0.5s ease-in-out;
  transform: rotate(360deg);
  background-color: rgb(155, 225, 208);
}
.restaurant_menu_title .menu_restaurant .menu .menu-card .tickmark .fa-check {
  border-radius: 60px;
  background-color: white;
  color: rgb(155, 225, 208);
  padding: 2px;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:hover .tickmark {
  margin-right: 0;
}
.restaurant_menu_title .menu_restaurant .menu .menu-card:hover .tickmark .fa-check {
  animation: rotation 1s linear;
  animation-iteration-count: 1;
}
@keyframes rotation {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
}

.button_order {
  border-radius: 40px;
  padding: 20px;
  background-image: linear-gradient(to bottom, #FF79DA, #9356DC);
  color: white;
  box-shadow: 18px 17px 13px -16px rgb(193, 201, 198);
  margin: 30px 0 40px 0;
  padding: 0 20px;
  max-width: 140px;
}
.button_order:hover {
  transform: scale(1.02);
}

footer {
  padding-left: 11%;
}

@media only screen and (max-width: 767px) {
  .restaurant_menu_title .menu_restaurant {
    flex-direction: column;
  }
}
/* Classe générale */
* {
  font-family: "Roboto", Arial, sans-serif;
}

body {
  margin: 0px;
}

.center_element {
  display: flex;
  justify-content: center;
  align-items: center;
}

.padding_element {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1 {
  font-weight: bold;
  font-size: 1.8em;
}

h2 {
  font-size: 20px;
  font-weight: 100;
  text-align: center;
  color: black;
  padding: 10px 0px;
}

a {
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
