@use "./sass/Layout/base.scss";
@use "./sass/Layout/header.scss";
@use "./sass/Layout/footer.scss";

/* Classe générale */
*{
    font-family: "Roboto", Arial, sans-serif;
}

body{
    margin: 0px;
}

.center_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding_element{
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-weight: bold;
    font-size: 1.8em;
    
}

h2{
    font-size: 30px;
    text-align: center;
    color: rgb(190, 187, 187);
    padding: 20px 0px;
    
}


/* Location */

.container_location{
    background-color: rgb(234 234 234);
    .location_icon{
        height: auto;
        width: auto;
        padding-right:15px;
    }
    .location_name{
        font-size: 16px;
    }
}



/* Description application */

.container_description{
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(247 247 247);
    padding: 40px 0px;
    .btn_explore{
        border-radius: 40px;
        padding: 20px;
        background: linear-gradient(#FF79DA, #9356DC);
        border: 1px solid linear-gradient(#FF79DA, #9356DC);
        color: white;
        box-shadow: 18px 17px 13px -16px rgba(193,201,198,1);
    }
}


/* Function */

.container_functioning{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
    .container_function_card .fonction_card{
        position: relative;
        margin: 20px;
        padding: 40px 0px;
        background-color: rgb(247 247 247);
        width: auto;
        border-radius: 40px;
        box-shadow: 18px 17px 13px -16px rgba(193,201,198,1);
        .icon_number{
            position: absolute;
            left: -1em;
            top: 50%;
            transform: translateY(-50%);
            border-radius: 50%;
            padding:10px;
            background-color:#9356DC;
            color: white;
        }
        .icon_btn_function{
            position: absolute;
            left: 30px;
            // left:0;
            // right:0;
            
            // margin-left: auto;
            // margin-right: auto;
        }
        .btn_title{
            // position: absolute;
            // text-align: center;
            padding-left: 60px;

        }

    }

}

@media only screen and (min-width:860px){
    .container_function_card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .fonction_card{
            flex: 1 1 auto;
        }
    }
}


/* Restaurant */

.container_restaurant{
    background-color: rgb(247 247 247);
    padding:20px;
    h1{
        margin-bottom: 20px;
    }
}
.restaurant_card {
    margin-bottom:20px;
    background-color:white;
    border-radius: 20px;
    overflow: hidden;
    img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
   
}

.container_img_new{
    display: flex;
    flex-direction: column;
    align-items: end;
    .new{
        position:absolute;
        background-color: rgb(155 225 208);
        color:rgb(3 131 98);
        margin: 25px 25px 0px 0px;
        padding: 5px;
    }
}

.restaurant_info{
    position: relative;
    margin: 15px;
    .restaurant_description .restaurant_name{
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 5px;
    }
    .fa-heart{
        position: absolute;
        right:1em;
        top: 50%;
        transform: translateY(-50%);
        font-size: 1.33em;
    }
    .fa-solid{
        color:transparent;
        background-image: linear-gradient(#FF79DA, #9356DC);
        background-clip: text;
        -webkit-background-clip: text;
        opacity: 0;
        transition: all 500ms ease;
        cursor: pointer;
    }
   
    &:hover .fa-solid{
        opacity:1;
    }
}

@media only screen and (min-width:860px){
        
    .container_two_restaurants_card{
        display: flex;
        flex-direction: row;
        
        .restaurant_card{
            flex: 1;
            margin: 0px 5px;
        }
    }
}