@use "./sass/Layouts/_base.scss";
@use "./sass/Layouts/_header.scss";
@use "./sass/Layouts/_explorer.scss";
@use "./sass/Layouts/_footer.scss";
@use "./sass/Layouts/_function.scss";
@use "./sass/Layouts/_location.scss";
@use "./sass/Layouts/_restaurant.scss";


/* Classe générale */
*{
    font-family: "Roboto", Arial, sans-serif;
}

body{
    margin: 0px;
}

.center_element{
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding_element{
    padding-top: 20px;
    padding-bottom: 20px;
}

h1{
    font-weight: bold;
    font-size: 1.8em;
    
}

h2{
    font-size: 30px;
    text-align: center;
    color: rgb(190, 187, 187);
    padding: 20px 0px;
    
}










