@use "../Utils/_mixin";

/* Explore */

.container_description{
    flex-direction: column;
    flex-wrap: wrap;
    background-color: rgb(247 247 247);
    padding: 40px 0px;
    .btn_explore{
        @include mixin.btn;
    }
}
